In [1]:
import pandas as pd

In [2]:
file_path_01 = r"E:\문화빅데이터플랫폼\cleaned_data\AVRG_SCORE_REVIEW_INFO_cleaned.csv"
file_path_02 = r"E:\문화빅데이터플랫폼\cleaned_data\REVIEW_MOP_INFO.csv"

AVRG_SCORE_REVIEW_INFO_cleaned = pd.read_csv(file_path_01)
REVIEW_MOP_INFO = pd.read_csv(file_path_02)

In [3]:
AVRG_SCORE_REVIEW_INFO_cleaned.info() # 감성분석, 숙박 제외
REVIEW_MOP_INFO.info() # 형태소 분석, 전처리 됨

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TRRSRT_NM     505 non-null    object
 1   CORE_KWRD_CN  505 non-null    object
dtypes: object(2)
memory usage: 8.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219655 entries, 0 to 219654
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   BASE_YM      219655 non-null  float64
 1   CL_NM        219655 non-null  object
 2   TRRSRT_NM    219655 non-null  object
 3   TRRSRT_ADDR  219655 non-null  object
 4   MOP_CN       219655 non-null  object
dtypes: float64(1), object(4)
memory usage: 8.4+ MB

In [4]:
# 이름 변경
AVRG_SCORE_REVIEW_INFO = AVRG_SCORE_REVIEW_INFO_cleaned

In [5]:
# TRRSRT_NM을 기준으로 병합 (inner join)
merged_df = pd.merge(REVIEW_MOP_INFO, AVRG_SCORE_REVIEW_INFO, on="TRRSRT_NM", how="inner")

In [6]:
merged_df.info()
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1288907 entries, 0 to 1288906
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   BASE_YM       1288907 non-null  float64
 1   CL_NM         1288907 non-null  object
 2   TRRSRT_NM     1288907 non-null  object
 3   TRRSRT_ADDR   1288907 non-null  object
 4   MOP_CN        1288907 non-null  object
 5   CORE_KWRD_CN  1288907 non-null  object
dtypes: float64(1), object(5)
memory usage: 59.0+ MB

,BASE_YM,CL_NM,TRRSRT_NM,TRRSRT_ADDR,MOP_CN,CORE_KWRD_CN
0,202301.0,공연전시,고흐의 정원,제주 서귀포시 성산읍 삼달신풍로 126-5,"볼거리,다양","파충류,아이,체험,고흐,사진,친절,정원,설명,그림,시간"
1,202301.0,공연전시,고흐의 정원,제주 서귀포시 성산읍 삼달신풍로 126-5,"볼거리,다양","친절,사진,고흐,너어무,직원,입장권,주차장,네이버,구매,취향저격"
2,202301.0,공연전시,고흐의 정원,제주 서귀포시 성산읍 삼달신풍로 126-5,"볼거리,다양","파충류,체험,고흐,친절,사진,이용,그림,직원,정원,작품"
3,202301.0,공연전시,고흐의 정원,제주 서귀포시 성산읍 삼달신풍로 126-5,"볼거리,다양","파충류,체험,아이,사진,친절,고흐,방문,정원,설명,시간"
4,202301.0,공연전시,고흐의 정원,제주 서귀포시 성산읍 삼달신풍로 126-5,"볼거리,다양","관람,파충류,체험,규모,시간,정도,미로,공원,카페,구성"

In [7]:
# `apply`를 사용해 각 행에서 MOP_CN과 CORE_KWRD_CN을 결합
def merge_and_remove_duplicates(row):
    # `,`로 구분된 문자열을 리스트로 변환 후 집합(Set)으로 중복 제거
    combined_set = set(row['MOP_CN'].split(',')) | set(row['CORE_KWRD_CN'].split(','))
    # 집합을 다시 문자열로 변환
    return ','.join(sorted(combined_set))  # 정렬은 선택 사항

# 데이터프레임에 새 열 생성
merged_df['MERGED_CN'] = merged_df.apply(merge_and_remove_duplicates, axis=1)

# 결과 확인
merged_df

,BASE_YM,CL_NM,TRRSRT_NM,TRRSRT_ADDR,MOP_CN,CORE_KWRD_CN,MERGED_CN
0,202301.0,공연전시,고흐의 정원,제주 서귀포시 성산읍 삼달신풍로 126-5,"볼거리,다양","파충류,아이,체험,고흐,사진,친절,정원,설명,그림,시간","고흐,그림,다양,볼거리,사진,설명,시간,아이,정원,체험,친절,파충류"
1,202301.0,공연전시,고흐의 정원,제주 서귀포시 성산읍 삼달신풍로 126-5,"볼거리,다양","친절,사진,고흐,너어무,직원,입장권,주차장,네이버,구매,취향저격","고흐,구매,너어무,네이버,다양,볼거리,사진,입장권,주차장,직원,취향저격,친절"
2,202301.0,공연전시,고흐의 정원,제주 서귀포시 성산읍 삼달신풍로 126-5,"볼거리,다양","파충류,체험,고흐,친절,사진,이용,그림,직원,정원,작품","고흐,그림,다양,볼거리,사진,이용,작품,정원,직원,체험,친절,파충류"
3,202301.0,공연전시,고흐의 정원,제주 서귀포시 성산읍 삼달신풍로 126-5,"볼거리,다양","파충류,체험,아이,사진,친절,고흐,방문,정원,설명,시간","고흐,다양,방문,볼거리,사진,설명,시간,아이,정원,체험,친절,파충류"
4,202301.0,공연전시,고흐의 정원,제주 서귀포시 성산읍 삼달신풍로 126-5,"볼거리,다양","관람,파충류,체험,규모,시간,정도,미로,공원,카페,구성","공원,관람,구성,규모,다양,미로,볼거리,시간,정도,체험,카페,파충류"
...,...,...,...,...,...,...,...
1288902,202303.0,키즈,아쿠아플라넷 제주,제주 서귀포시 성산읍 섭지코지로 95,"공연,종일,코스,바다,가족","시간,공연,볼거리,시설,아이,사진,수족관,가격,서커스,아쿠아리움","가격,가족,공연,바다,볼거리,사진,서커스,수족관,시간,시설,아이,아쿠아리움,종일,코스"
1288903,202303.0,키즈,아쿠아플라넷 제주,제주 서귀포시 성산읍 섭지코지로 95,"공연,종일,코스,바다,가족","공연,아이,수족관,시간,추천,아쿠아리움,제주,할인,물고기,방문","가족,공연,물고기,바다,방문,수족관,시간,아이,아쿠아리움,제주,종일,추천,코스,할인"
1288904,202303.0,키즈,아쿠아플라넷 제주,제주 서귀포시 성산읍 섭지코지로 95,"공연,종일,코스,바다,가족","공연,아이,볼거리,시간,아쿠아리움,제주,방문,아레나,규모,관람","가족,공연,관람,규모,바다,방문,볼거리,시간,아레나,아이,아쿠아리움,제주,종일,코스"
1288905,202303.0,키즈,아쿠아플라넷 제주,제주 서귀포시 성산읍 섭지코지로 95,"공연,종일,코스,바다,가족","공연,아이,돌고래,최고,동물,가격,카드,제주도,단체,관광객","가격,가족,공연,관광객,단체,돌고래,동물,바다,아이,제주도,종일,최고,카드,코스"
1288906,202303.0,키즈,아쿠아플라넷 제주,제주 서귀포시 성산읍 섭지코지로 95,"공연,종일,코스,바다,가족","수족관,공연,방문,아이,시간,생물,아쿠아리움,볼거리,돌고래,동물","가족,공연,돌고래,동물,바다,방문,볼거리,생물,수족관,시간,아이,아쿠아리움,종일,코스"

In [8]:
merged_df = merged_df[['BASE_YM', 'TRRSRT_NM', 'MERGED_CN']]
merged_df

          BASE_YM  TRRSRT_NM                                        MERGED_CN
0        202301.0     고흐의 정원            고흐,그림,다양,볼거리,사진,설명,시간,아이,정원,체험,친절,파충류
1        202301.0     고흐의 정원       고흐,구매,너어무,네이버,다양,볼거리,사진,입장권,주차장,직원,취향저격,친절
2        202301.0     고흐의 정원            고흐,그림,다양,볼거리,사진,이용,작품,정원,직원,체험,친절,파충류
3        202301.0     고흐의 정원            고흐,다양,방문,볼거리,사진,설명,시간,아이,정원,체험,친절,파충류
4        202301.0     고흐의 정원            공원,관람,구성,규모,다양,미로,볼거리,시간,정도,체험,카페,파충류
...           ...        ...                                              ...
1288902  202303.0  아쿠아플라넷 제주  가격,가족,공연,바다,볼거리,사진,서커스,수족관,시간,시설,아이,아쿠아리움,종일,코스
1288903  202303.0  아쿠아플라넷 제주   가족,공연,물고기,바다,방문,수족관,시간,아이,아쿠아리움,제주,종일,추천,코스,할인
1288904  202303.0  아쿠아플라넷 제주   가족,공연,관람,규모,바다,방문,볼거리,시간,아레나,아이,아쿠아리움,제주,종일,코스
1288905  202303.0  아쿠아플라넷 제주     가격,가족,공연,관광객,단체,돌고래,동물,바다,아이,제주도,종일,최고,카드,코스
1288906  202303.0  아쿠아플라넷 제주  가족,공연,돌고래,동물,바다,방문,볼거리,생물,수족관,시간,아이,아쿠아리움,종일,코스

[1288907 rows x 3 columns]

In [9]:
unique_trrsrt_nm_counts = merged_df['TRRSRT_NM'].value_counts()
unique_trrsrt_nm_counts

TRRSRT_NM
제주산방산탄산온천    172308
스누피가든        131544
아쿠아플라넷 제주    125508
오설록 티 뮤지엄    118836
제주레포츠랜드      113478
              ...
천지연폭포            78
난드르깡통구이          30
블루마운틴4255        20
베니스랜드             5
제주유리박물관           4
Name: count, Length: 89, dtype: int64

In [10]:
file_path = r"E:\AI_HUB\data\concatenated\tn_visit_area_info_concatened_WR.csv"

tn_visit_area_info = pd.read_csv(file_path)

In [11]:
tn_visit_area_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18610 entries, 0 to 18609
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   VISIT_AREA_ID      18610 non-null  int64
 1   TRAVEL_ID          18610 non-null  object
 2   VISIT_AREA_NM      18610 non-null  object
 3   ROAD_NM_ADDR       18610 non-null  object
 4   X_COORD            18610 non-null  float64
 5   Y_COORD            18610 non-null  float64
 6   DGSTFN             18610 non-null  int64
 7   REVISIT_INTENTION  18610 non-null  int64
 8   RCMDTN_INTENTION   18610 non-null  int64
 9   VISIT_SEASON       18610 non-null  object
 10  W                  18610 non-null  float64
 11  WR                 18610 non-null  float64
dtypes: float64(4), int64(4), object(4)
memory usage: 1.7+ MB

In [12]:
# 공백 제거 후 비교
tn_names = set(tn_visit_area_info["VISIT_AREA_NM"].str.strip())
trrsrt_names = set(merged_df["TRRSRT_NM"].str.strip())

# 공통 값 확인
common_values = tn_names & trrsrt_names
print(common_values)
print(len(common_values))

{'방림원', '고스트타운', '스누피가든', '이중섭미술관', '천제연폭포', '점보빌리지', '한림공원', '김녕요트투어', '화조원', '오설록 티 뮤지엄', '만장굴', '섬타르', '성산일출봉', '제주 레일바이크', '제주민속촌', '숨도', '소인국테마파크', '아쿠아플라넷 제주', '카멜리아힐', '삼성혈', '메이즈랜드', '고흐의 정원', '일출랜드', '더힐링타임', '비자림', '여미지식물원'}
26

In [13]:
# 관광지별 리뷰 합치기
merged_grouped_df = merged_df.groupby("TRRSRT_NM")["MERGED_CN"].apply(lambda x: " ".join(x)).reset_index()

# 결과 확인
merged_grouped_df

   TRRSRT_NM                                          MERGED_CN
0      감귤박물관  가격,감귤,감귤박물관,공사,구경,마들렌,박물관,스무디,음료,카페,한라봉 감귤,개방,...
1    건강과성박물관  관람,구경,내용,다양,사진,생각,설명,시간,여행,유익,제주,친구 남녀,동시,별거,생...
2     걸리버여행기  걸리버,서비스,센터,수리,시간,여행,여행기,우도,운영,이용,자전거,장비,전기,직원,...
3      고스트타운  가격,가성비,고스트,귀신,놀이공원,아이,여행,제주,직원,체험,친절,퀄리티,타운,폐허...
4     고흐의 정원  고흐,그림,다양,볼거리,사진,설명,시간,아이,정원,체험,친절,파충류 고흐,구매,너어...
..       ...                                                ...
84  피규어뮤지엄제주  구경,다양,마블,볼거리,사진,생각,아이,어른,종류,캐릭터,피규어 다양,마블,무료입장...
85      한림공원  강아지,공원,공작새,구경,다양,동굴,반려동물,볼거리,사진,산책,시간,식물,크기,한림...
86  헬로키티아일랜드  방문,볼거리,사진,생각,시간,아이,여자,키티,핑크,헬로키티 가격,기대,방문,생각,성...
87       화조원  공연,관리,독수리,동물,먹이,방문,시간,아이,알파카,체험 가까이,공연,동물,맹금류,...
88  훈데르트바서파크  건축물,볼거리,사진,산책,시간,아이,우도,작가,작품,전시,정은혜 건물,건축물,미술관...

[89 rows x 2 columns]

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [15]:
# TF-IDF 벡터화
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(merged_grouped_df["MERGED_CN"])

In [16]:
# 사용자의 선택 키워드 입력
user_keywords = ["힐링"]
user_vector = vectorizer.transform([" ".join(user_keywords)])

# 코사인 유사도 계산
similarities = cosine_similarity(user_vector, tfidf_matrix).flatten()

# 유사도가 높은 상위 관광지 추천
top_n = 5
top_indices = similarities.argsort()[::-1][:top_n]

# 추천된 관광지 및 유사도 출력
recommended_places = merged_grouped_df.iloc[top_indices].copy()
recommended_places["Cosine_Similarity"] = similarities[top_indices]

# 추천 결과 출력
print("\n 추천된 관광지 목록:")
print(recommended_places[["TRRSRT_NM", "Cosine_Similarity"]])

 추천된 관광지 목록:
   TRRSRT_NM  Cosine_Similarity
10     더힐링타임           0.246063
30   서귀포치유의숲           0.173231
39        숨도           0.160058
21       비자림           0.149947
81     카멜리아힐           0.070345

In [17]:
from collections import Counter
import pandas as pd
import re

# 모든 MERGED_CN 텍스트 합치기
all_text = " ".join(merged_grouped_df["MERGED_CN"])

# 단어 단위로 분할 (특수문자 제외, 공백 기준)
words = re.findall(r'\b\w+\b', all_text)

# 단어 빈도 계산
word_counts = Counter(words)

# 빈도순 정렬
word_freq_df = pd.DataFrame(word_counts.items(), columns=["Word", "Frequency"]).sort_values(by="Frequency", ascending=False)

# 결과 출력
print(word_freq_df.head(50))  # 상위 50개 단어 출력

       Word  Frequency
20       방문     710504
24       아이     674543
33       시간     569677
21       사진     467838
44       제주     388756
79       생각     287533
199      야외     273571
109      실내     233159
118      친절     232626
101     볼거리     222093
198     제주도     208642
4        구경     198734
9        카페     197305
16       체험     196776
741      공연     188349
1998     탄산     172326
855      온천     172314
2755     노천     172308
251      직원     170527
341      정원     149676
599      카트     143404
0        가격     138565
367      산책     137238
97       추천     133276
2005    스누피     131886
81       여행     131572
26       시설     129931
34       예약     127437
6       박물관     124613
103     입장료     123443
181      코스     123267
272   아이스크림     120190
1655     녹차     118902
66       다음     117426
2347   서바이벌     108298
247      이용     107302
378   아쿠아리움     106542
1229     수국     106129
2440    오설록     102492
261     자동차     101904
1756    피아노     101609
229      사슴     101596
723      동백      97500
31       다양      97459
1219    동백꽃      96450
697      피로      95798
32       대기      93083
2003     가든      91762
202      장소      91675
13       기대      85121

In [18]:
import pandas as pd
import re
from collections import Counter
import random

# 모든 MERGED_CN 텍스트 합치기
all_text = " ".join(merged_grouped_df["MERGED_CN"])

# 특수문자 제거 후 단어 분할
words = re.findall(r'\b\w+\b', all_text)

# 단어 빈도 계산
word_counts = Counter(words)

# 빈도순 정렬 후 상위 50개 단어 가져오기
word_freq_df = pd.DataFrame(word_counts.items(), columns=["Word", "Frequency"]).sort_values(by="Frequency", ascending=False)
top_50_words = word_freq_df.head(50)["Word"].tolist()

# 🔹 직접 선별한 키워드 리스트 (불필요한 단어 제거 후 직접 선택)
selected_keywords = [
    "미술", "정원", "고흐", "전시", "박물관", "자연", "산책", "역사", "야경", "공연",
    "문화", "체험", "전통", "조형물", "도보", "명소", "야외", "유적지", "건축", "산",
    "호수", "바다", "축제", "사찰", "테마파크", "도시", "휴양지", "공원", "마을", "사진"
]

# BASE_YM을 정수형으로 변환
merged_df["BASE_YM"] = merged_df["BASE_YM"].astype(int)

# 키워드별로 가장 많이 언급된 월 찾기
keyword_month_counts = {}
for keyword in selected_keywords:
    keyword_month_counts[keyword] = (
        merged_df[merged_df["MERGED_CN"].str.contains(keyword, na=False)]
        .groupby("BASE_YM").size().idxmax()
    )

# 최종적으로 제공할 랜덤 10개 키워드 선택
num_words = min(10, len(selected_keywords))
random_words = random.sample(selected_keywords, num_words)

# 결과 출력
print("\n📌 사용자에게 제시할 랜덤 키워드와 가장 많이 언급된 월:")
for word in random_words:
    print(f"{word}: {keyword_month_counts.get(word, '데이터 없음')}월")

C:\Users\user\AppData\Local\Temp\ipykernel_11060\1823896857.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["BASE_YM"] = merged_df["BASE_YM"].astype(int)

ValueError: attempt to get argmax of an empty sequence

In [60]:
import random
import pandas as pd
import re
from collections import Counter

# 모든 MERGED_CN 텍스트 합치기
all_text = " ".join(merged_grouped_df["MERGED_CN"])

# 특수문자 제거 후 단어 분할 (불필요한 공백 포함 방지)
words = re.findall(r'\b\w+\b', all_text)

# 단어 빈도 계산
word_counts = Counter(words)

# 빈도순 정렬
word_freq_df = pd.DataFrame(word_counts.items(), columns=["Word", "Frequency"]).sort_values(by="Frequency", ascending=False)

# 상위 5% 단어 제외 (너무 흔한 단어 방지)
top_n = int(len(word_freq_df) * 0.05)
filtered_words = word_freq_df.iloc[top_n:]["Word"].tolist()

# 단어 개수가 10개보다 적을 경우 대비
num_words = min(10, len(filtered_words))

# 랜덤 10개 선택
random_words = random.sample(filtered_words, num_words)

# 결과 출력
print("📌 사용자에게 제시할 랜덤 키워드:", random_words)

📌 사용자에게 제시할 랜덤 키워드: ['하이라이트', '수압', '차별', '도보', '상점', '풀기', '동심', '크림트', '과정', '개발']

In [53]:
# "E:\문화빅데이터플랫폼\cleaned_data"
# 
# merged_grouped_df.to_csv(r"E:\문화빅데이터플랫폼\cleaned_data\merged_grouped_df.csv", index=False)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\user\AppData\Local\Temp\ipykernel_22572\335958917.py:1: SyntaxWarning: invalid escape sequence '\c'
  "E:\문화빅데이터플랫폼\cleaned_data"