In [17]:
import pandas as pd

In [24]:
file_path_01= r"E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_tour_photo_jeju_filtered.csv"
file_path_02 = r"E:\AI_HUB\data\Validation\labeled_data\VL_csv\cleaned_data\tn_tour_photo_jeju_filtered.csv"

tn_photo_tr = pd.read_csv(file_path_01)
tn_photo_val = pd.read_csv(file_path_02)

In [25]:
# import pandas as pd
# 
# # 데이터 병합 (인덱스 리셋)
# merged_photo = pd.concat([tn_photo_tr, tn_photo_val], ignore_index=True)
# 
# # 중복 제거 (PHOTO_FILE_NM 기준)
# merged_photo = merged_photo.drop_duplicates(subset=["PHOTO_FILE_NM"])
# 
# # 결측값 확인
# print(merged_photo.isnull().sum())
# 
# # 병합된 데이터 크기 확인
# print(f"병합 후 행 개수: {len(merged_photo)}")

VISIT_AREA_ID         0
VISIT_AREA_NM         0
PHOTO_FILE_NM         0
PHOTO_FILE_DT         0
PHOTO_FILE_X_COORD    0
PHOTO_FILE_Y_COORD    0
dtype: int64
병합 후 행 개수: 16996

In [19]:
tn_photo_tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15327 entries, 0 to 15326
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   VISIT_AREA_ID       15327 non-null  int64
 1   VISIT_AREA_NM       15327 non-null  object
 2   PHOTO_FILE_NM       15327 non-null  object
 3   PHOTO_FILE_DT       15327 non-null  object
 4   PHOTO_FILE_X_COORD  15327 non-null  float64
 5   PHOTO_FILE_Y_COORD  15327 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 718.6+ KB

In [20]:
tn_photo_val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1669 entries, 0 to 1668
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   VISIT_AREA_ID       1669 non-null   int64
 1   VISIT_AREA_NM       1669 non-null   object
 2   PHOTO_FILE_NM       1669 non-null   object
 3   PHOTO_FILE_DT       1669 non-null   object
 4   PHOTO_FILE_X_COORD  1669 non-null   float64
 5   PHOTO_FILE_Y_COORD  1669 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 78.4+ KB

In [21]:
merged_photo = pd.concat([tn_photo_tr, tn_photo_val])

In [22]:
merged_photo.info()
merged_photo.head()

<class 'pandas.core.frame.DataFrame'>
Index: 16996 entries, 0 to 1668
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   VISIT_AREA_ID       16996 non-null  int64
 1   VISIT_AREA_NM       16996 non-null  object
 2   PHOTO_FILE_NM       16996 non-null  object
 3   PHOTO_FILE_DT       16996 non-null  object
 4   PHOTO_FILE_X_COORD  16996 non-null  float64
 5   PHOTO_FILE_Y_COORD  16996 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 929.5+ KB

,VISIT_AREA_ID,VISIT_AREA_NM,PHOTO_FILE_NM,PHOTO_FILE_DT,PHOTO_FILE_X_COORD,PHOTO_FILE_Y_COORD
0,2307010002,제주 국제공항,g00317501099p0002.jpg,2023-07-01 19:57:54,126.388008,34.732722
1,2307010002,제주 국제공항,h00064701002p0002.jpg,2023-07-01 11:39:46,128.324962,34.649425
2,2307010002,제주 국제공항,e00331001002p0001.jpg,2023-07-01 13:51:50,126.607156,37.553997
3,2307010002,제주 국제공항,e00349601003p0001.jpg,2023-07-01 09:17:26,126.618821,37.475521
4,2307010002,제주 국제공항,e00368501002p0001.jpg,2023-07-01 12:48:43,126.606345,37.310702

In [23]:
local_path = r"E:\AI_HUB\data\concatenated\tn_tour_photo_merged.csv"
merged_photo.to_csv(local_path, index=False, encoding='utf-8-sig')

# 파일 저장 확인
print(f"로컬 경로에 파일 저장 완료: {local_path}")

로컬 경로에 파일 저장 완료: E:\AI_HUB\data\concatenated\tn_tour_photo_merged.csv