In [1]:
import pandas as pd

In [2]:
file01 = pd.read_csv(r"E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_travel_jeju_filtered.csv")
file02 = pd.read_csv(r"E:\AI_HUB\data\Validation\labeled_data\VL_csv\cleaned_data\tn_travel_jeju_filtered.csv")

In [3]:
merged_df = pd.concat([file01, file02], ignore_index=True)

In [4]:
merged_df

      TRAVEL_ID TRAVELER_ID
0     e_e004090     e004090
1     e_e004808     e004808
2     e_e005480     e005480
3     e_e005858     e005858
4     g_g005682     g005682
...         ...         ...
1674  h_h006670     h006670
1675  h_h006684     h006684
1676  h_h006710     h006710
1677  h_h006731     h006731
1678  h_h006753     h006753

[1679 rows x 2 columns]

In [5]:
import shutil

# 파일 저장 경로
local_path = r"E:\AI_HUB\data\concatenated\tn_travel_concatenated.csv"
merged_df.to_csv(local_path, index=False, encoding='utf-8-sig')

# 파일 저장 확인
print(f"로컬 경로에 파일 저장 완료: {local_path}")

로컬 경로에 파일 저장 완료: E:\AI_HUB\data\concatenated\tn_travel_concatenated.csv