In [1]:
import pandas as pd

In [26]:
file_path = r"E:\AI_HUB\data\Validation\labeled_data\VL_csv\tn_travel_여행_H.csv"

tn_travel = pd.read_csv(file_path)

tn_travel

,TRAVEL_ID,TRAVEL_NM,TRAVELER_ID,TRAVEL_PURPOSE,TRAVEL_START_YMD,TRAVEL_END_YMD,MVMN_NM,TRAVEL_PERSONA,TRAVEL_MISSION,TRAVEL_MISSION_CHECK
0,e_e000493,H02,e000493,1;2;21;3;6,2023-06-17,2023-06-18,자가용,"제주,도서지역 방문/거주지 구분 없음/40세 이상/나홀로 여행/일반미션",1;2;21;3;6,2;3;21
1,e_e001064,H02,e001064,22;3;5;8,2023-06-04,2023-06-06,자가용,"제주,도서지역 방문/거주지 구분 없음/40세 이상/자녀동반/일반미션",22;3;5;8,5;7;24
2,e_e001102,H02,e001102,21;26;28,2023-05-27,2023-05-28,대중교통 등,"제주,도서지역 방문/거주지 구분 없음/39세 이하/특별미션",21;26;28,22;7;9
3,e_e001236,H02,e001236,2;5;6;8;9;21;22;28;27;24;23,2023-05-27,2023-05-29,자가용,"제주,도서지역 방문/거주지 구분 없음/39세 이하/커플/일반미션",2;5;6;8;9;21;22;28;27;24;23,6;21;22
4,e_e001394,H02,e001394,22;24;26;7,2023-05-27,2023-05-29,자가용,"제주,도서지역 방문/거주지 구분 없음/39세 이하/나홀로 여행/일반미션",22;24;26;7,7;26;4
...,...,...,...,...,...,...,...,...,...,...
315,h_h006670,H01,h006670,1;22,2023-09-18,2023-09-19,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/나홀로 여행/일반미션",1;22,1;3;4
316,h_h006684,H01,h006684,21;22;4;6,2023-09-17,2023-09-18,NaN,"제주,도서지역 방문/거주지 구분 없음/39세 이하/부부/일반미션",21;22;4;6,2;6;22
317,h_h006710,H01,h006710,1;22,2023-09-20,2023-09-21,NaN,"제주,도서지역 방문/거주지 구분 없음/39세 이하/특별미션",1;22,1;24;21
318,h_h006731,H01,h006731,1;28;4,2023-09-22,2023-09-23,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/나홀로 여행/일반미션",1;28;4,4;28;6
319,h_h006753,H01,h006753,23;4,2023-09-23,2023-09-25,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/자녀동반/일반미션",23;4,23;3;21

In [27]:
file_path = r"E:\AI_HUB\data\Validation\labeled_data\VL_csv\cleaned_data\tn_visit_area_info.csv"

tn_visit_area_info_jeju_filtered = pd.read_csv(file_path)

tn_visit_area_info_jeju_filtered

,VISIT_AREA_ID,TRAVEL_ID,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,X_COORD,Y_COORD,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,2309230002,e_e013135,호도제과,2023-09-23,2023-09-23,제주특별자치도 서귀포시 안덕면 화순로 132,126.332302,33.246551,30.0,10,Y,4.0,5.0,5.0,5.0
1,2309230004,e_e013135,삼백 식당,2023-09-23,2023-09-23,제주특별자치도 서귀포시 예래로 466-1,126.368689,33.235047,30.0,10,Y,4.0,5.0,5.0,5.0
2,2309230006,e_e013135,카페도 가시,2023-09-23,2023-09-23,제주특별자치도 서귀포시 안덕면 대평감산로 9,126.366643,33.235495,60.0,11,N,9.0,5.0,5.0,5.0
3,2309230007,e_e013135,달콤 왕가 탕후루 연동점,2023-09-23,2023-09-23,제주특별자치도 제주시 과원북2길 66,126.489265,33.478707,30.0,10,N,6.0,4.0,4.0,4.0
4,2305170004,h_h000059,다구리 문화 예술공원,2023-05-17,2023-05-17,제주특별자치도 서귀포시 칠십리로 120-12,126.567383,33.241747,30.0,7,Y,4.0,4.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2705,2309220004,h_h006731,고치올레,2023-09-22,2023-09-22,제주특별자치도 서귀포시 효돈순환로 217-3,126.621337,33.256857,60.0,11,N,2.0,5.0,5.0,5.0
2706,2309220005,h_h006731,스타벅스 서귀포올레점,2023-09-22,2023-09-22,제주특별자치도 서귀포시 중정로 69,126.563717,33.248273,60.0,11,Y,7.0,5.0,5.0,5.0
2707,2309230002,h_h006753,롯데호텔 제주,2023-09-23,2023-09-23,제주특별자치도 서귀포시 중문관광로72번길 35,126.410600,33.248457,300.0,24,Y,5.0,5.0,5.0,5.0
2708,2309230003,h_h006753,성이시돌목장,2023-09-23,2023-09-23,제주특별자치도 제주시 한림읍 금악동길 35,126.327321,33.347770,30.0,7,Y,1.0,5.0,5.0,5.0
2709,2309240002,h_h006753,제주 4.3평화공원,2023-09-24,2023-09-24,제주특별자치도 제주시 명림로 430,126.617927,33.451268,150.0,2,N,9.0,5.0,5.0,5.0

In [28]:
print(tn_visit_area_info_jeju_filtered["TRAVEL_ID"].dtype)  # 데이터 타입 확인
print(tn_travel["TRAVEL_ID"].dtype)  # 데이터 타입 확인

object
object

In [29]:
# 제주도인 데이터만 필터링

jeju_travel_ids = set(tn_visit_area_info_jeju_filtered["TRAVEL_ID"])

tn_travel_jeju_filtered = tn_travel[tn_travel["TRAVEL_ID"].isin(jeju_travel_ids)]

tn_travel_jeju_filtered

,TRAVEL_ID,TRAVEL_NM,TRAVELER_ID,TRAVEL_PURPOSE,TRAVEL_START_YMD,TRAVEL_END_YMD,MVMN_NM,TRAVEL_PERSONA,TRAVEL_MISSION,TRAVEL_MISSION_CHECK
43,e_e013135,H01,e013135,1;21;22;24,2023-09-23,2023-09-24,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/나홀로 여행/일반미션",1;21;22;24,22;21;24
123,h_h000059,H01,h000059,1;21;22;4,2023-05-17,2023-05-18,자가용,"제주,도서지역 방문/거주지 구분 없음/39세 이하/특별미션",1;21;22;4,4;27;1
124,h_h000063,H01,h000063,22;27;5,2023-05-27,2023-05-29,자가용,"제주,도서지역 방문/거주지 구분 없음/40세 이상/나홀로 여행/일반미션",22;27;5,22;6;8
125,h_h000072,H01,h000072,21;24;27;28,2023-05-17,2023-05-20,대중교통 등,"제주,도서지역 방문/거주지 구분 없음/40세 이상/특별미션",21;24;27;28,21;27;28
126,h_h000079,H01,h000079,23;22;3,2023-05-30,2023-06-03,대중교통 등,"제주,도서지역 방문/거주지 구분 없음/40세 이상/커플/일반미션",23;22;3,3;22;23
...,...,...,...,...,...,...,...,...,...,...
315,h_h006670,H01,h006670,1;22,2023-09-18,2023-09-19,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/나홀로 여행/일반미션",1;22,1;3;4
316,h_h006684,H01,h006684,21;22;4;6,2023-09-17,2023-09-18,NaN,"제주,도서지역 방문/거주지 구분 없음/39세 이하/부부/일반미션",21;22;4;6,2;6;22
317,h_h006710,H01,h006710,1;22,2023-09-20,2023-09-21,NaN,"제주,도서지역 방문/거주지 구분 없음/39세 이하/특별미션",1;22,1;24;21
318,h_h006731,H01,h006731,1;28;4,2023-09-22,2023-09-23,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/나홀로 여행/일반미션",1;28;4,4;28;6
319,h_h006753,H01,h006753,23;4,2023-09-23,2023-09-25,NaN,"제주,도서지역 방문/거주지 구분 없음/40세 이상/자녀동반/일반미션",23;4,23;3;21

In [ ]:
tn_travel_jeju_filtered = tn_travel_jeju_filtered.drop(['TRAVEL_NM', 'MVMN_NM', 'TRAVEL_PURPOSE', 'TRAVEL_PERSONA', 'TRAVEL_MISSION', 'TRAVEL_START_YMD', 'TRAVEL_END_YMD'], axis=1)

In [30]:
tn_travel_jeju_filtered = tn_travel_jeju_filtered.drop(['TRAVEL_NM', 'MVMN_NM', 'TRAVEL_PURPOSE', 'TRAVEL_PERSONA', 'TRAVEL_MISSION', 'TRAVEL_START_YMD', 'TRAVEL_END_YMD', 'TRAVEL_MISSION_CHECK'], axis=1)

In [31]:
tn_travel_jeju_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 183 entries, 43 to 319
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TRAVEL_ID    183 non-null    object
 1   TRAVELER_ID  183 non-null    object
dtypes: object(2)
memory usage: 4.3+ KB

In [32]:
import shutil

# 파일 저장 경로
local_path = r"E:\AI_HUB\data\Validation\labeled_data\VL_csv\cleaned_data\tn_travel_jeju_filtered.csv"
tn_travel_jeju_filtered.to_csv(local_path, index=False, encoding='utf-8-sig')

# 파일 저장 확인
print(f"로컬 경로에 파일 저장 완료: {local_path}")

로컬 경로에 파일 저장 완료: E:\AI_HUB\data\Validation\labeled_data\VL_csv\cleaned_data\tn_travel_jeju_filtered.csv