In [53]:
import pandas as pd

In [54]:
file_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\tn_tour_photo_관광사진_H.csv"

tn_tour_photo = pd.read_csv(file_path)
tn_tour_photo

,TRAVEL_ID,VISIT_AREA_ID,TOUR_PHOTO_SEQ,PHOTO_FILE_ID,PHOTO_FILE_NM,PHOTO_FILE_FRMAT,PHOTO_FILE_DT,PHOTO_FILE_SAVE_PATH,PHOTO_FILE_RESOLUTION,PHOTO_FILE_X_COORD,PHOTO_FILE_Y_COORD,VISIT_AREA_NM
0,h_h000030,2305200002,0,h00003002003p0001,h00003002003p0001.jpg,jpg,2023-05-20 13:48:01,/photo/,3024x3024,126.330406,33.450447,NaN
1,h_h000030,2305200003,0,h00003002099p0001,h00003002099p0001.jpg,jpg,2023-05-21 05:17:24,/photo/,3024x3024,126.417839,33.413269,NaN
2,h_h000080,2305200003,0,h00008001002p0001,h00008001002p0001.jpg,jpg,2023-05-20 10:14:15,/photo/,4032x3024,126.303589,33.227389,NaN
3,h_h000121,2305200003,0,h00012102004p0001,h00012102004p0001.jpg,jpg,2023-05-20 13:41:12,/photo/,4032x3024,126.416808,33.269669,NaN
4,h_h000057,2305200004,0,h00005701005p0001,h00005701005p0001.jpg,jpg,2023-05-20 17:22:51,/photo/,4032x3024,126.511461,33.232786,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15380,h_h006653,2309170012,19,h00665301012p0020,h00665301012p0020.jpg,jpg,2023-09-17 18:51:09,/photo/,4032x3024,126.557344,33.246033,NaN
15381,h_h006462,2309200003,19,h00646201003p0020,h00646201003p0020.jpg,jpg,2023-09-20 15:50:42,/photo/,2992x2992,126.273408,33.283181,NaN
15382,h_h006438,2309240003,19,h00643801003p0020,h00643801003p0020.jpg,jpg,2023-09-24 15:08:02,/photo/,4032x3024,126.703903,33.273061,NaN
15383,h_h006438,2309240004,19,h00643801004p0020,h00643801004p0020.jpg,jpg,2023-09-24 16:30:07,/photo/,4032x3024,126.709078,33.275097,NaN
15384,h_h006594,2309170004,19,h00659401004p0020,h00659401004p0020.jpg,jpg,2023-09-17 15:25:56,/photo/,4000x3000,126.315376,33.234945,김포국제공항 국내선

In [55]:
tn_tour_photo.info()
tn_tour_photo.head()
tn_tour_photo.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15385 entries, 0 to 15384
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   TRAVEL_ID              15385 non-null  object
 1   VISIT_AREA_ID          15385 non-null  int64
 2   TOUR_PHOTO_SEQ         15385 non-null  int64
 3   PHOTO_FILE_ID          15385 non-null  object
 4   PHOTO_FILE_NM          15385 non-null  object
 5   PHOTO_FILE_FRMAT       15385 non-null  object
 6   PHOTO_FILE_DT          15385 non-null  object
 7   PHOTO_FILE_SAVE_PATH   15385 non-null  object
 8   PHOTO_FILE_RESOLUTION  15385 non-null  object
 9   PHOTO_FILE_X_COORD     15385 non-null  float64
 10  PHOTO_FILE_Y_COORD     15385 non-null  float64
 11  VISIT_AREA_NM          9152 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 1.4+ MB

TRAVEL_ID                   0
VISIT_AREA_ID               0
TOUR_PHOTO_SEQ              0
PHOTO_FILE_ID               0
PHOTO_FILE_NM               0
PHOTO_FILE_FRMAT            0
PHOTO_FILE_DT               0
PHOTO_FILE_SAVE_PATH        0
PHOTO_FILE_RESOLUTION       0
PHOTO_FILE_X_COORD          0
PHOTO_FILE_Y_COORD          0
VISIT_AREA_NM            6233
dtype: int64

In [56]:
# dtype 변환

tn_tour_photo['VISIT_AREA_ID'] = tn_tour_photo['VISIT_AREA_ID'].astype(str)
tn_tour_photo['PHOTO_FILE_DT'] = pd.to_datetime(tn_tour_photo['PHOTO_FILE_DT'])
tn_tour_photo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15385 entries, 0 to 15384
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   TRAVEL_ID              15385 non-null  object
 1   VISIT_AREA_ID          15385 non-null  object
 2   TOUR_PHOTO_SEQ         15385 non-null  int64
 3   PHOTO_FILE_ID          15385 non-null  object
 4   PHOTO_FILE_NM          15385 non-null  object
 5   PHOTO_FILE_FRMAT       15385 non-null  object
 6   PHOTO_FILE_DT          15385 non-null  datetime64[ns]
 7   PHOTO_FILE_SAVE_PATH   15385 non-null  object
 8   PHOTO_FILE_RESOLUTION  15385 non-null  object
 9   PHOTO_FILE_X_COORD     15385 non-null  float64
 10  PHOTO_FILE_Y_COORD     15385 non-null  float64
 11  VISIT_AREA_NM          9152 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 1.4+ MB

In [57]:
# 필요 없는 열 제거

columns_to_drop = ['PHOTO_FILE_ID', 'PHOTO_FILE_FRMAT', 'PHOTO_FILE_SAVE_PATH', 'VISIT_AREA_NM', "PHOTO_FILE_RESOLUTION", "TOUR_PHOTO_SEQ"]

tn_tour_photo = tn_tour_photo.drop(columns=columns_to_drop)
tn_tour_photo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15385 entries, 0 to 15384
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TRAVEL_ID           15385 non-null  object
 1   VISIT_AREA_ID       15385 non-null  object
 2   PHOTO_FILE_NM       15385 non-null  object
 3   PHOTO_FILE_DT       15385 non-null  datetime64[ns]
 4   PHOTO_FILE_X_COORD  15385 non-null  float64
 5   PHOTO_FILE_Y_COORD  15385 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 721.3+ KB

## 제주도만 필터링

In [58]:
# 방문지 정보 불러오기
file_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_visit_area_info.csv"

tn_visit_area_info = pd.read_csv(file_path)

tn_visit_area_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23453 entries, 0 to 23452
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   VISIT_AREA_ID        23453 non-null  int64
 1   TRAVEL_ID            23453 non-null  object
 2   VISIT_AREA_NM        23453 non-null  object
 3   VISIT_START_YMD      23453 non-null  object
 4   VISIT_END_YMD        23453 non-null  object
 5   ROAD_NM_ADDR         23453 non-null  object
 6   X_COORD              23453 non-null  float64
 7   Y_COORD              23453 non-null  float64
 8   RESIDENCE_TIME_MIN   23453 non-null  float64
 9   VISIT_AREA_TYPE_CD   23453 non-null  int64
 10  REVISIT_YN           23453 non-null  object
 11  VISIT_CHC_REASON_CD  23453 non-null  float64
 12  DGSTFN               23453 non-null  float64
 13  REVISIT_INTENTION    23453 non-null  float64
 14  RCMDTN_INTENTION     23453 non-null  float64
dtypes: float64(7), int64(2), object(6)
memory usage: 2.7+ MB

In [59]:
# 데이터 타입 변환
tn_visit_area_info['VISIT_AREA_ID'] = tn_visit_area_info['VISIT_AREA_ID'].astype(str)

In [60]:
print(tn_tour_photo['VISIT_AREA_ID'].apply(type).value_counts())
print(tn_visit_area_info['VISIT_AREA_ID'].apply(type).value_counts())

VISIT_AREA_ID
<class 'str'>    15385
Name: count, dtype: int64
VISIT_AREA_ID
<class 'str'>    23453
Name: count, dtype: int64

In [61]:
merged_data = pd.merge(tn_visit_area_info, tn_tour_photo, on='VISIT_AREA_ID', how='inner')

merged_data

,VISIT_AREA_ID,TRAVEL_ID_x,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,X_COORD,Y_COORD,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,TRAVEL_ID_y,PHOTO_FILE_NM,PHOTO_FILE_DT,PHOTO_FILE_X_COORD,PHOTO_FILE_Y_COORD
0,2307010002,e_e004090,제주 국제공항,2023-07-01,2023-07-01,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,3.0,3.0,g_g003175,g00317501099p0002.jpg,2023-07-01 19:57:54,126.388008,34.732722
1,2307010002,e_e004090,제주 국제공항,2023-07-01,2023-07-01,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,3.0,3.0,h_h000647,h00064701002p0002.jpg,2023-07-01 11:39:46,128.324962,34.649425
2,2307010002,e_e004090,제주 국제공항,2023-07-01,2023-07-01,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,3.0,3.0,e_e003310,e00331001002p0001.jpg,2023-07-01 13:51:50,126.607156,37.553997
3,2307010002,e_e004090,제주 국제공항,2023-07-01,2023-07-01,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,3.0,3.0,e_e003496,e00349601003p0001.jpg,2023-07-01 09:17:26,126.618821,37.475521
4,2307010002,e_e004090,제주 국제공항,2023-07-01,2023-07-01,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,3.0,3.0,e_e003685,e00368501002p0001.jpg,2023-07-01 12:48:43,126.606345,37.310702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431200,2309220005,h_h006874,민경이네어등포해녀촌,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 830,126.825773,33.553735,30.0,11,N,2.0,4.0,4.0,4.0,h_h006455,h00645501005p0006.jpg,2023-09-22 17:36:59,126.369615,33.290714
431201,2309220005,h_h006874,민경이네어등포해녀촌,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 830,126.825773,33.553735,30.0,11,N,2.0,4.0,4.0,4.0,h_h006455,h00645501005p0014.jpg,2023-09-22 17:51:43,126.371412,33.288988
431202,2309220005,h_h006874,민경이네어등포해녀촌,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 830,126.825773,33.553735,30.0,11,N,2.0,4.0,4.0,4.0,h_h006455,h00645501005p0015.jpg,2023-09-22 17:52:38,126.371389,33.288911
431203,2309220005,h_h006874,민경이네어등포해녀촌,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 830,126.825773,33.553735,30.0,11,N,2.0,4.0,4.0,4.0,h_h006455,h00645501005p0017.jpg,2023-09-22 17:55:19,126.371199,33.288871
431204,2309220005,h_h006874,민경이네어등포해녀촌,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 830,126.825773,33.553735,30.0,11,N,2.0,4.0,4.0,4.0,h_h006455,h00645501005p0018.jpg,2023-09-22 18:06:34,126.370606,33.289112

In [62]:
unique_count = tn_tour_photo['PHOTO_FILE_NM'].nunique()
total_count = tn_tour_photo['PHOTO_FILE_NM'].count()
print(f"Unique PHOTO_FILE_NM count: {unique_count}")
print(f"Total PHOTO_FILE_NM count: {total_count}")

Unique PHOTO_FILE_NM count: 15385
Total PHOTO_FILE_NM count: 15385

In [63]:
# PHOTO_FILE_NM 컬럼의 고유값 개수
unique_photo_count = merged_data['PHOTO_FILE_NM'].nunique()
print(f"Unique PHOTO_FILE_NM count: {unique_photo_count}")

Unique PHOTO_FILE_NM count: 15327

In [64]:
# 고유한 PHOTO_FILE_NM만 추출, 중복된 행은 삭제

merged_data_unique = merged_data.drop_duplicates(subset=['PHOTO_FILE_NM'], keep='first')

In [65]:
# 필요한 열만 남겨서 저장
merged_data_unique = merged_data_unique[['VISIT_AREA_ID','VISIT_AREA_NM','PHOTO_FILE_NM', 'PHOTO_FILE_DT','PHOTO_FILE_X_COORD', 'PHOTO_FILE_Y_COORD']]

merged_data_unique

,VISIT_AREA_ID,VISIT_AREA_NM,PHOTO_FILE_NM,PHOTO_FILE_DT,PHOTO_FILE_X_COORD,PHOTO_FILE_Y_COORD
0,2307010002,제주 국제공항,g00317501099p0002.jpg,2023-07-01 19:57:54,126.388008,34.732722
1,2307010002,제주 국제공항,h00064701002p0002.jpg,2023-07-01 11:39:46,128.324962,34.649425
2,2307010002,제주 국제공항,e00331001002p0001.jpg,2023-07-01 13:51:50,126.607156,37.553997
3,2307010002,제주 국제공항,e00349601003p0001.jpg,2023-07-01 09:17:26,126.618821,37.475521
4,2307010002,제주 국제공항,e00368501002p0001.jpg,2023-07-01 12:48:43,126.606345,37.310702
...,...,...,...,...,...,...
430581,2309220006,산방산 탄산온천,h00672001005p0007.jpg,2023-09-22 16:56:22,126.298889,33.248906
430898,2309240002,윤가 가락국수 중문 본점,h00643801002p0001.jpg,2023-09-24 14:11:35,126.840872,33.325519
430899,2309240002,윤가 가락국수 중문 본점,h00643801002p0011.jpg,2023-09-24 14:14:04,126.840439,33.326019
430900,2309240002,윤가 가락국수 중문 본점,h00643801002p0014.jpg,2023-09-24 14:14:28,126.840675,33.325972
430901,2309240002,윤가 가락국수 중문 본점,h00643801002p0018.jpg,2023-09-24 14:15:26,126.841186,33.326008

In [67]:
local_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_tour_photo_jeju_filtered.csv"
merged_data_unique.to_csv(local_path, index=False, encoding='utf-8-sig')

# 파일 저장 확인
print(f"로컬 경로에 파일 저장 완료: {local_path}")

로컬 경로에 파일 저장 완료: E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_tour_photo_jeju_filtered.csv

In [68]:
# 원천데이터에서 제주도 아닌 사진 필터링 "E:\AI_HUB\data\Training\raw_data\TS_photo"

import os

jeju_photo_names = merged_data_unique['PHOTO_FILE_NM'].tolist()

raw_data_folder = r"E:\AI_HUB\data\Training\raw_data\TS_photo"
all_files_in_folder = os.listdir(raw_data_folder)

jeju_raw_data = [os.path.join(raw_data_folder, file) for file in all_files_in_folder if file in jeju_photo_names]

print(f"제주도 관련 사진 파일 개수: {len(jeju_raw_data)}")
for file_path in jeju_raw_data[:10]:  # 일부 경로 출력 (최대 10개)
    print(file_path) # 원래 15368 --> 15327

제주도 관련 사진 파일 개수: 15327
E:\AI_HUB\data\Training\raw_data\TS_photo\e00046301099p0004.jpg
E:\AI_HUB\data\Training\raw_data\TS_photo\e00050601099p0019.jpg
E:\AI_HUB\data\Training\raw_data\TS_photo\e00044301006p0002.jpg
E:\AI_HUB\data\Training\raw_data\TS_photo\e00030502005p0012.jpg
E:\AI_HUB\data\Training\raw_data\TS_photo\e00057401002p0008.jpg
E:\AI_HUB\data\Training\raw_data\TS_photo\e00030502005p0018.jpg
E:\AI_HUB\data\Training\raw_data\TS_photo\e00055901099p0010.jpg
E:\AI_HUB\data\Training\raw_data\TS_photo\e00030502005p0019.jpg
E:\AI_HUB\data\Training\raw_data\TS_photo\e00029501099p0007.jpg
E:\AI_HUB\data\Training\raw_data\TS_photo\e00058801007p0007.jpg

In [52]:
# PHOTO_FILE_NM 리스트 생성
jeju_photo_names = merged_data['PHOTO_FILE_NM'].tolist()

# 2. 원천 폴더 경로 지정 및 파일 목록 가져오기
source_folder = r"E:\AI_HUB\data\Training\raw_data\TS_photo"  
all_files_in_folder = os.listdir(source_folder)

# 3. 삭제할 파일 리스트 생성 (경로를 문자열로 처리)
files_to_delete = [os.path.join(source_folder, file) for file in all_files_in_folder if file not in jeju_photo_names]

# 4. 파일 삭제
for file_path in files_to_delete:
    try:
        os.remove(file_path)  # 파일 삭제
        print(f"Deleted: {file_path}")
    except Exception as e:
        print(f"Error deleting {file_path}: {e}")

# 5. 결과 확인
print(f"삭제된 파일 개수: {len(files_to_delete)}")

Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\e00139303014p0005.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\e00340301099p0014.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\e00340301099p0004.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\e00340301099p0020.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\e00340301099p0010.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\e00374201099p0007.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00047101013p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00047101013p0002.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00047101013p0003.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00085401013p0006.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00085401013p0013.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00340401012p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00340401014p0005.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00340401014p0004.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00340401014p0003.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00456301099p0004.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00471201011p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00471201011p0002.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00502601011p0003.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00528601009p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00701102016p0002.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\f00701102016p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\g00376701015p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\g00493603009p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\g00493603009p0003.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00000103003p0003.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00015401013p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00015401013p0002.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00015401011p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00015401012p0002.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00026702013p0003.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00066701013p0002.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00075902016p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00102601012p0003.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00114001010p0005.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00114001010p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00114001010p0004.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00212201012p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00212201099p0002.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00231001011p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00253002012p0004.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00374205016p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00573601011p0002.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00607101013p0005.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00621501010p0004.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00631601007p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00622201009p0001.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00622202002p0005.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00656901008p0003.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00657302002p0006.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00657302002p0007.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00657302002p0004.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00657302002p0003.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00657302002p0005.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00670501010p0005.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00670501010p0002.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00674401008p0007.jpg
Deleted: E:\AI_HUB\data\Training\raw_data\TS_photo\h00674401008p0002.jpg
삭제된 파일 개수: 58