In [1]:
import pandas as pd

In [2]:
file_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_visit_area_info.csv"

tn_visit_area_info = pd.read_csv(file_path)

tn_visit_area_info

,VISIT_AREA_ID,TRAVEL_ID,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,X_COORD,Y_COORD,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,2307010002,e_e004090,제주 국제공항,2023-07-01,2023-07-01,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,3.0,3.0
1,2307070002,e_e004808,제주 국제공항,2023-07-07,2023-07-07,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,4.0,4.0
2,2307220006,e_e005480,제주 국제공항,2023-07-22,2023-07-22,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,5.0,4.0
3,2308030006,e_e005858,제주 국제공항,2023-08-03,2023-08-03,제주특별자치도 제주시 공항로 2,126.492769,33.507079,60.0,9,Y,6.0,5.0,5.0,5.0
4,2308280003,g_g005682,제주원 렌터카 본점,2023-08-28,2023-08-28,제주특별자치도 제주시 용해로 58-7,126.502477,33.511763,30.0,9,N,2.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23448,2309230003,h_h006872,항파두리 항몽 유적지,2023-09-23,2023-09-23,제주특별자치도 제주시 애월읍 항파두리로 50,126.407923,33.452748,30.0,2,N,1.0,4.0,4.0,4.0
23449,2309230004,h_h006872,소길별하,2023-09-23,2023-09-23,제주특별자치도 제주시 애월읍 소길남길 34-37,126.375776,33.429839,60.0,12,N,1.0,4.0,4.0,4.0
23450,2309220002,h_h006874,꼬스뗀뇨,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,126.905244,33.509868,60.0,3,N,1.0,3.0,2.0,2.0
23451,2309220003,h_h006874,마이 피기 팬트리,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 하도13길 6,126.888132,33.508700,30.0,10,N,2.0,4.0,4.0,4.0
23452,2309220005,h_h006874,민경이네어등포해녀촌,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 830,126.825773,33.553735,30.0,11,N,2.0,4.0,4.0,4.0

In [3]:
tn_visit_area_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23453 entries, 0 to 23452
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   VISIT_AREA_ID        23453 non-null  int64
 1   TRAVEL_ID            23453 non-null  object
 2   VISIT_AREA_NM        23453 non-null  object
 3   VISIT_START_YMD      23453 non-null  object
 4   VISIT_END_YMD        23453 non-null  object
 5   ROAD_NM_ADDR         23453 non-null  object
 6   X_COORD              23453 non-null  float64
 7   Y_COORD              23453 non-null  float64
 8   RESIDENCE_TIME_MIN   23453 non-null  float64
 9   VISIT_AREA_TYPE_CD   23453 non-null  int64
 10  REVISIT_YN           23453 non-null  object
 11  VISIT_CHC_REASON_CD  23453 non-null  float64
 12  DGSTFN               23453 non-null  float64
 13  REVISIT_INTENTION    23453 non-null  float64
 14  RCMDTN_INTENTION     23453 non-null  float64
dtypes: float64(7), int64(2), object(6)
memory usage: 2.7+ MB

In [3]:
# 데이터형 변환

tn_visit_area_info["VISIT_AREA_ID"] = tn_visit_area_info["VISIT_AREA_ID"].astype("object")

tn_visit_area_info["VISIT_START_YMD"] = pd.to_datetime(tn_visit_area_info["VISIT_START_YMD"])
tn_visit_area_info["VISIT_END_YMD"] = pd.to_datetime(tn_visit_area_info["VISIT_END_YMD"])

tn_visit_area_info["VISIT_MONTH"] = tn_visit_area_info["VISIT_START_YMD"].dt.month

int_columns = ["DGSTFN", "REVISIT_INTENTION", "RCMDTN_INTENTION"]
for col in int_columns:
    tn_visit_area_info[col] = tn_visit_area_info[col].astype("int")


# 변환된 데이터 확인
print(tn_visit_area_info.dtypes)

VISIT_AREA_ID                  object
TRAVEL_ID                      object
VISIT_AREA_NM                  object
VISIT_START_YMD        datetime64[ns]
VISIT_END_YMD          datetime64[ns]
ROAD_NM_ADDR                   object
X_COORD                       float64
Y_COORD                       float64
RESIDENCE_TIME_MIN            float64
VISIT_AREA_TYPE_CD              int64
REVISIT_YN                     object
VISIT_CHC_REASON_CD           float64
DGSTFN                          int64
REVISIT_INTENTION               int64
RCMDTN_INTENTION                int64
VISIT_MONTH                     int32
dtype: object

In [22]:
type_cd = tn_visit_area_info['VISIT_AREA_TYPE_CD'].value_counts()
type_cd

VISIT_AREA_TYPE_CD
11    8977
24    4418
9     2319
4     1860
1     1481
10    1109
3      668
13     651
12     637
2      403
6      364
5      364
7      128
8       52
23      11
22       8
21       3
Name: count, dtype: int64

In [4]:
# VIS = 9, 21, 22, 23, 24인 데이터 삭제

tn_visit_area_info = tn_visit_area_info[~tn_visit_area_info["VISIT_AREA_TYPE_CD"].isin([9, 21, 22, 23, 24])]

In [24]:
tn_visit_area_info

,VISIT_AREA_ID,TRAVEL_ID,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,X_COORD,Y_COORD,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,VISIT_MONTH
5,2308280004,g_g005682,피즈,2023-08-28,2023-08-28,제주특별자치도 제주시 애월읍 애월로 29,126.311823,33.461553,30.0,11,N,1.0,5,5,5,8
6,2308280005,g_g005682,명월 국민학교,2023-08-28,2023-08-28,제주특별자치도 제주시 한림읍 명월로 48,126.264872,33.388738,60.0,11,N,1.0,5,5,5,8
7,2308280006,g_g005682,연리지 가든,2023-08-28,2023-08-28,제주특별자치도 제주시 한경면 두조로 190-20,126.202321,33.345142,30.0,11,N,3.0,5,3,4,8
8,2308280007,g_g005682,아르떼 뮤지엄 제주,2023-08-28,2023-08-28,제주특별자치도 제주시 애월읍 어림비로 478,126.345011,33.396701,120.0,3,N,2.0,5,3,5,8
11,2308290002,g_g005682,둘레길 중문 본점,2023-08-29,2023-08-29,제주특별자치도 서귀포시 천제연로 209-1,126.427123,33.251722,30.0,11,N,2.0,5,5,5,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23448,2309230003,h_h006872,항파두리 항몽 유적지,2023-09-23,2023-09-23,제주특별자치도 제주시 애월읍 항파두리로 50,126.407923,33.452748,30.0,2,N,1.0,4,4,4,9
23449,2309230004,h_h006872,소길별하,2023-09-23,2023-09-23,제주특별자치도 제주시 애월읍 소길남길 34-37,126.375776,33.429839,60.0,12,N,1.0,4,4,4,9
23450,2309220002,h_h006874,꼬스뗀뇨,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,126.905244,33.509868,60.0,3,N,1.0,3,2,2,9
23451,2309220003,h_h006874,마이 피기 팬트리,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 하도13길 6,126.888132,33.508700,30.0,10,N,2.0,4,4,4,9
23452,2309220005,h_h006874,민경이네어등포해녀촌,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 830,126.825773,33.553735,30.0,11,N,2.0,4,4,4,9

In [5]:
# VISIT_MONTH를 계절로 매핑
season_mapping = {
    12: "Winter", 1: "Winter", 2: "Winter",
    3: "Spring", 4: "Spring", 5: "Spring",
    6: "Summer", 7: "Summer", 8: "Summer",
    9: "Fall", 10: "Fall", 11: "Fall"
}

tn_visit_area_info["VISIT_SEASON"] = tn_visit_area_info["VISIT_MONTH"].map(season_mapping)

C:\Users\user\AppData\Local\Temp\ipykernel_22184\1510723074.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_visit_area_info["VISIT_SEASON"] = tn_visit_area_info["VISIT_MONTH"].map(season_mapping)

In [6]:
# 필요 없는 열 제거
tn_visit_area_info_cleaned = tn_visit_area_info.drop(columns=["VISIT_START_YMD", "VISIT_END_YMD", "RESIDENCE_TIME_MIN", "VISIT_AREA_TYPE_CD", "REVISIT_YN", "VISIT_CHC_REASON_CD", 'VISIT_MONTH'], axis=1)

In [27]:
tn_visit_area_info_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16694 entries, 5 to 23452
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   VISIT_AREA_ID      16694 non-null  object
 1   TRAVEL_ID          16694 non-null  object
 2   VISIT_AREA_NM      16694 non-null  object
 3   ROAD_NM_ADDR       16694 non-null  object
 4   X_COORD            16694 non-null  float64
 5   Y_COORD            16694 non-null  float64
 6   DGSTFN             16694 non-null  int32
 7   REVISIT_INTENTION  16694 non-null  int32
 8   RCMDTN_INTENTION   16694 non-null  int32
 9   VISIT_SEASON       16694 non-null  object
dtypes: float64(2), int32(3), object(5)
memory usage: 1.2+ MB

In [28]:
tn_visit_area_info_cleaned

,VISIT_AREA_ID,TRAVEL_ID,VISIT_AREA_NM,ROAD_NM_ADDR,X_COORD,Y_COORD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,VISIT_SEASON
5,2308280004,g_g005682,피즈,제주특별자치도 제주시 애월읍 애월로 29,126.311823,33.461553,5,5,5,Summer
6,2308280005,g_g005682,명월 국민학교,제주특별자치도 제주시 한림읍 명월로 48,126.264872,33.388738,5,5,5,Summer
7,2308280006,g_g005682,연리지 가든,제주특별자치도 제주시 한경면 두조로 190-20,126.202321,33.345142,5,3,4,Summer
8,2308280007,g_g005682,아르떼 뮤지엄 제주,제주특별자치도 제주시 애월읍 어림비로 478,126.345011,33.396701,5,3,5,Summer
11,2308290002,g_g005682,둘레길 중문 본점,제주특별자치도 서귀포시 천제연로 209-1,126.427123,33.251722,5,5,5,Summer
...,...,...,...,...,...,...,...,...,...,...
23448,2309230003,h_h006872,항파두리 항몽 유적지,제주특별자치도 제주시 애월읍 항파두리로 50,126.407923,33.452748,4,4,4,Fall
23449,2309230004,h_h006872,소길별하,제주특별자치도 제주시 애월읍 소길남길 34-37,126.375776,33.429839,4,4,4,Fall
23450,2309220002,h_h006874,꼬스뗀뇨,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,126.905244,33.509868,3,2,2,Fall
23451,2309220003,h_h006874,마이 피기 팬트리,제주특별자치도 제주시 구좌읍 하도13길 6,126.888132,33.508700,4,4,4,Fall
23452,2309220005,h_h006874,민경이네어등포해녀촌,제주특별자치도 제주시 구좌읍 해맞이해안로 830,126.825773,33.553735,4,4,4,Fall

## WR(가중 평점) 구하기

In [29]:
# v: 해당 관광지의 평가 개수 구하기
v = tn_visit_area_info_cleaned.groupby("VISIT_AREA_NM")["VISIT_AREA_ID"].count()

v

VISIT_AREA_NM
1158족욕 카페            1
1158흑돼지              1
11고지 휴게소             3
11고지 휴게소 주차장         2
168테우                2
                    ..
히비 안도 코하쿠            1
히츠야                  1
힐로스                  1
힐링 카약 파크 비체올린 캠핑장    1
힘찬 약국                1
Name: VISIT_AREA_ID, Length: 5211, dtype: int64

In [30]:
# m: 최소 평가 개수(상위 90% 관광지의 평가 개수)
m = v.quantile(0.90)

In [46]:
# W(가중 평점) 계산
w1, w2, w3 = 0.4, 0.3, 0.3
tn_visit_area_info_cleaned["W"] = (
    tn_visit_area_info_cleaned["DGSTFN"] * w1 +
    tn_visit_area_info_cleaned["REVISIT_INTENTION"] * w2 +
    tn_visit_area_info_cleaned["RCMDTN_INTENTION"] * w3
)

In [32]:
# R: 관광지별 평균 만족도 계산
R = tn_visit_area_info_cleaned.groupby("VISIT_AREA_NM")["W"].mean()

In [33]:
# C: 전체 평균 만족도 계산
C = tn_visit_area_info_cleaned["W"].mean()

In [34]:
# WR(가중 평점) 계산
WR = ((v / (v + m)) * R) + ((m / (v + m)) * C)

In [49]:
# WR을 기준으로 관광지 정렬 후 출력
WR = WR.sort_values(ascending=False)
WR.head(20)  # 상위 10개 관광지 출력

VISIT_AREA_NM
JW 메리어트 제주리조트 스파      4.768173
맛나 식당                 4.688736
제주도립 김창열 미술관          4.648339
제주신라호텔 수영장            4.643343
보래드베이커스               4.640247
롯데 렌터카 제주오토하우스지점      4.630538
함덕해수욕장                4.617259
협재 섬 바다               4.613622
투썸플레이스 제주 애월 다인호텔점    4.613622
카카오 패밀리               4.613622
빌리가                   4.602266
난산리다방                 4.597390
스타벅스 제주 노형점           4.597390
명진 전복                 4.597189
에코랜드 테마파크             4.593775
고기장                   4.580288
그랜드 조선 제주             4.578496
월정리 곳간                4.578496
프리다이빙 제주바당            4.578496
원담                    4.578496
dtype: float64

In [50]:
# WR(가중 평점) 계산
WR = ((v / (v + m)) * R) + ((m / (v + m)) * C)

# WR을 원본 데이터에 병합
tn_visit_area_info_cleaned = tn_visit_area_info_cleaned.merge(WR.rename("WR"), on="VISIT_AREA_NM", how="left")

# 결과 확인
tn_visit_area_info_cleaned.head()

,VISIT_AREA_ID,TRAVEL_ID,VISIT_AREA_NM,ROAD_NM_ADDR,X_COORD,Y_COORD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,VISIT_SEASON,W,WR
0,2308280004,g_g005682,피즈,제주특별자치도 제주시 애월읍 애월로 29,126.311823,33.461553,5,5,5,Summer,5.0,4.351057
1,2308280005,g_g005682,명월 국민학교,제주특별자치도 제주시 한림읍 명월로 48,126.264872,33.388738,5,5,5,Summer,5.0,4.397970
2,2308280006,g_g005682,연리지 가든,제주특별자치도 제주시 한경면 두조로 190-20,126.202321,33.345142,5,3,4,Summer,4.1,4.209066
3,2308280007,g_g005682,아르떼 뮤지엄 제주,제주특별자치도 제주시 애월읍 어림비로 478,126.345011,33.396701,5,3,5,Summer,4.4,4.161649
4,2308290002,g_g005682,둘레길 중문 본점,제주특별자치도 서귀포시 천제연로 209-1,126.427123,33.251722,5,5,5,Summer,5.0,4.182932

In [42]:
tn_visit_area_info_cleaned

,VISIT_AREA_ID,TRAVEL_ID,VISIT_AREA_NM,ROAD_NM_ADDR,X_COORD,Y_COORD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,VISIT_SEASON,W
5,2308280004,g_g005682,피즈,제주특별자치도 제주시 애월읍 애월로 29,126.311823,33.461553,5,5,5,Summer,5.0
6,2308280005,g_g005682,명월 국민학교,제주특별자치도 제주시 한림읍 명월로 48,126.264872,33.388738,5,5,5,Summer,5.0
7,2308280006,g_g005682,연리지 가든,제주특별자치도 제주시 한경면 두조로 190-20,126.202321,33.345142,5,3,4,Summer,4.1
8,2308280007,g_g005682,아르떼 뮤지엄 제주,제주특별자치도 제주시 애월읍 어림비로 478,126.345011,33.396701,5,3,5,Summer,4.4
11,2308290002,g_g005682,둘레길 중문 본점,제주특별자치도 서귀포시 천제연로 209-1,126.427123,33.251722,5,5,5,Summer,5.0
...,...,...,...,...,...,...,...,...,...,...,...
23448,2309230003,h_h006872,항파두리 항몽 유적지,제주특별자치도 제주시 애월읍 항파두리로 50,126.407923,33.452748,4,4,4,Fall,4.0
23449,2309230004,h_h006872,소길별하,제주특별자치도 제주시 애월읍 소길남길 34-37,126.375776,33.429839,4,4,4,Fall,4.0
23450,2309220002,h_h006874,꼬스뗀뇨,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,126.905244,33.509868,3,2,2,Fall,2.4
23451,2309220003,h_h006874,마이 피기 팬트리,제주특별자치도 제주시 구좌읍 하도13길 6,126.888132,33.508700,4,4,4,Fall,4.0
23452,2309220005,h_h006874,민경이네어등포해녀촌,제주특별자치도 제주시 구좌읍 해맞이해안로 830,126.825773,33.553735,4,4,4,Fall,4.0

In [51]:
import shutil

# 파일 저장 경로
local_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_visit_area_info_v2_cleaned_WR.csv"
tn_visit_area_info_cleaned.to_csv(local_path, index=False, encoding='utf-8-sig')

# 파일 저장 확인
print(f"로컬 경로에 파일 저장 완료: {local_path}")

로컬 경로에 파일 저장 완료: E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_visit_area_info_v2_cleaned_WR.csv