In [8]:
# 방문지 정보 데이터 전처리

In [1]:
import pandas as pd
from tomlkit import datetime

In [2]:
file_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\tn_visit_area_info_방문지정보_H.csv"

tn_visit_area_info = pd.read_csv(file_path)

tn_visit_area_info

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,...,POI_NM,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
0,2306030001,e_e000295,1,집,2023-06-03,2023-06-03,경기 성남시 분당구 수내로 39,경기 성남시 분당구 수내동 1-1,NaN,NaN,...,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2306030002,e_e000295,2,트레이더스 홀세일 클럽 안산점,2023-06-03,2023-06-03,경기 안산시 단원구 중앙대로 397,경기 안산시 단원구 신길동 1687,126.785016,37.331252,...,트레이더스홀세일클럽 안산점,90.0,4,N,6.0,NaN,5.0,3.0,5.0,NaN
2,2306030003,e_e000295,3,백령 할인마트,2023-06-03,2023-06-03,인천 옹진군 영흥면 영흥로 164-10,인천 옹진군 영흥면 내리 8-31,126.493973,37.258358,...,백령할인마트,30.0,4,N,9.0,NaN,5.0,3.0,5.0,NaN
3,2306030007,e_e000295,4,아침 풍경펜션,2023-06-03,2023-06-04,인천 옹진군 영흥면 영흥서로380번길 101-3,인천 옹진군 영흥면 내리 1212-32,NaN,NaN,...,아침풍경펜션,540.0,24,N,6.0,3.0,5.0,5.0,5.0,NaN
4,2306040001,e_e000295,5,사이 바다,2023-06-04,2023-06-04,인천 옹진군 영흥면 영흥북로 374-25,인천 옹진군 영흥면 내리 724-132,NaN,NaN,...,하이바다,60.0,4,N,1.0,NaN,3.0,1.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46004,2309220002,h_h006874,2,꼬스뗀뇨,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,제주특별자치도 제주시 구좌읍 종달리 150,126.905244,33.509868,...,꼬스뗀뇨,60.0,3,N,1.0,NaN,3.0,2.0,2.0,NaN
46005,2309220003,h_h006874,3,마이 피기 팬트리,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 하도13길 6,제주특별자치도 제주시 구좌읍 하도리 1091-5,126.888132,33.508700,...,마이피기팬트리,30.0,10,N,2.0,NaN,4.0,4.0,4.0,NaN
46006,2309220004,h_h006874,4,월정리 해수욕장,2023-09-22,2023-09-22,NaN,제주특별자치도 제주시 구좌읍 월정리 33-3,126.795805,33.556469,...,월정리해수욕장,120.0,1,Y,11.0,NaN,4.0,4.0,4.0,NaN
46007,2309220005,h_h006874,5,민경이네어등포해녀촌,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 830,제주특별자치도 제주시 구좌읍 행원리 102,126.825773,33.553735,...,민경이네어등포해녀촌,30.0,11,N,2.0,NaN,4.0,4.0,4.0,NaN
46008,2309220006,h_h006874,6,김정 문화회관,2023-09-22,2023-09-23,제주특별자치도 서귀포시 김정문화로 36,제주특별자치도 서귀포시 강정동 176,126.508654,33.251086,...,김정문화회관,240.0,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# NULL이 많은 열, 의미 없는 열 삭제
columns_to_drop = ['ROAD_NM_CD', 'LOTNO_CD', 'POI_ID', 'POI_NM', 'SGG_CD', 'LODGING_TYPE_CD', 'LOTNO_ADDR', 'VISIT_ORDER']
tn_visit_area_info = tn_visit_area_info.drop(columns=columns_to_drop)

In [4]:
# 만족도가 없는 행 제거
tn_visit_area_info = tn_visit_area_info.dropna(subset=['DGSTFN'])

In [6]:
# 데이터형 변환

tn_visit_area_info['VISIT_AREA_ID'] = tn_visit_area_info['VISIT_AREA_ID'].astype(object)
tn_visit_area_info['VISIT_START_YMD'] = pd.to_datetime(tn_visit_area_info["VISIT_START_YMD"])
tn_visit_area_info['VISIT_END_YMD'] = pd.to_datetime(tn_visit_area_info["VISIT_START_YMD"])
tn_visit_area_info['VISIT_AREA_TYPE_CD'] = tn_visit_area_info['VISIT_AREA_TYPE_CD'].astype(object)
tn_visit_area_info[['VISIT_CHC_REASON_CD','DGSTFN', 'REVISIT_INTENTION', 'RCMDTN_INTENTION']] = tn_visit_area_info[['VISIT_CHC_REASON_CD', 'DGSTFN', 'REVISIT_INTENTION', 'RCMDTN_INTENTION']].astype(object)

In [7]:
# 제주도인 행만 추출

tn_visit_area_info = tn_visit_area_info[tn_visit_area_info['ROAD_NM_ADDR'].str.contains('제주', na=False)]

In [8]:
tn_visit_area_info.isnull().sum()

VISIT_AREA_ID            0
TRAVEL_ID                0
VISIT_AREA_NM            0
VISIT_START_YMD          0
VISIT_END_YMD            0
ROAD_NM_ADDR             0
X_COORD                712
Y_COORD                712
RESIDENCE_TIME_MIN       0
VISIT_AREA_TYPE_CD       0
REVISIT_YN               0
VISIT_CHC_REASON_CD      0
DGSTFN                   0
REVISIT_INTENTION        0
RCMDTN_INTENTION         0
dtype: int64

In [9]:
S = tn_visit_area_info[['DGSTFN', 'REVISIT_INTENTION', 'RCMDTN_INTENTION']]
S

      DGSTFN REVISIT_INTENTION RCMDTN_INTENTION
2414     4.0               3.0              3.0
2711     4.0               4.0              4.0
2976     4.0               5.0              4.0
3050     5.0               5.0              5.0
11087    4.0               4.0              4.0
...      ...               ...              ...
45999    4.0               4.0              4.0
46000    4.0               4.0              4.0
46004    3.0               2.0              2.0
46005    4.0               4.0              4.0
46007    4.0               4.0              4.0

[23453 rows x 3 columns]

In [16]:
# # null이 있는 데이터의 방문지명 확인 -> 무의미한 장소들 -> 만족도가 없는 행에서 걸러짐, 굳이 NULL이 있는 만족도 대체 안 했음. 
# 
# columns_to_check = ['REVISIT_YN', 'DGSTFN', 'REVISIT_INTENTION', 'RCMDTN_INTENTION']
# null_rows = tn_visit_area_info[tn_visit_area_info[columns_to_check].isnull().any(axis=1)]
# 
# null_places = null_rows['VISIT_AREA_NM'].drop_duplicates()
# null_places

In [17]:
# 외부 API 활용 NULL X, Y COORD 채워넣기

import requests
import time

def get_coordinates(address, api_key="AIzaSyByYhrv3G7EyNjE3tDESg5qJp79H9aalDQ"):
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    params = {"address": address, "key": api_key}
    response = requests.get(base_url, params=params)
    if response.status_code == 200:
        results = response.json().get('results', [])
        if results:
            location = results[0]['geometry']['location']
            return location['lat'], location['lng']
    return None, None

# NULL 값이 있는 행만 필터링
missing_coords = tn_visit_area_info[tn_visit_area_info['X_COORD'].isnull() | tn_visit_area_info['Y_COORD'].isnull()]

# 좌표 채우기
for index, row in missing_coords.iterrows():
    address = row['ROAD_NM_ADDR']
    lat, lng = get_coordinates(address)
    if lat and lng:
        tn_visit_area_info.at[index, 'X_COORD'] = lat
        tn_visit_area_info.at[index, 'Y_COORD'] = lng
    time.sleep(0.1)  # API 호출 간격 조정

In [23]:
tn_visit_area_info[['X_COORD', 'Y_COORD']]

          X_COORD    Y_COORD
2414   126.492769  33.507079
2711   126.492769  33.507079
2976   126.492769  33.507079
3050   126.492769  33.507079
11087  126.502477  33.511763
...           ...        ...
45999  126.407923  33.452748
46000  126.375776  33.429839
46004  126.905244  33.509868
46005  126.888132  33.508700
46007  126.825773  33.553735

[23453 rows x 2 columns]

In [24]:
invalid_coords = tn_visit_area_info[(tn_visit_area_info['Y_COORD'] < 33) | (tn_visit_area_info['Y_COORD'] > 34) |
                      (tn_visit_area_info['X_COORD'] < 126) | (tn_visit_area_info['X_COORD'] > 127)]
print(invalid_coords)

# X와 Y가 뒤바뀐 경우 수정
for index in invalid_coords.index:
    x = tn_visit_area_info.at[index, 'X_COORD']
    y = tn_visit_area_info.at[index, 'Y_COORD']
    tn_visit_area_info.at[index, 'X_COORD'] = y
    tn_visit_area_info.at[index, 'Y_COORD'] = x

      VISIT_AREA_ID  TRAVEL_ID                 VISIT_AREA_NM VISIT_START_YMD  \
25348    2307050005  h_h001596                         공일 일고      2023-07-05
30916    2307300006  h_h002474                        바다마루펜션      2023-07-30
31320    2308020003  h_h002527                   중문 대표 주상절리대      2023-08-02
34450    2308210005  h_h003217  스타벅스 제주 용담 DT 점 제주 용마 마을 정류소      2023-08-21
34827    2308210002  h_h003327               제주 웨스턴 그레이스 강정점      2023-08-21
35757    2308110002  h_h003536                    신신호텔 제주공항점      2023-08-11

      VISIT_END_YMD                   ROAD_NM_ADDR    X_COORD     Y_COORD  \
25348    2023-07-05      제주특별자치도 서귀포시 성산읍 난산온평로 34  37.488961  126.989756
30916    2023-07-30  제주특별자치도 서귀포시 표선면 표선백사로60번길 70  35.611912  126.589313
31320    2023-08-02        제주특별자치도 서귀포시 이어도로 36-30  35.863401  128.592784
34450    2023-08-21           제주특별자치도 제주시 서해안로 380  35.173200  128.946729
34827    2023-08-21     제주특별자치도 서귀포시 김정문화로27번길 9-7  35.839059  129.213679
35757    2023-08-11            제주특별자치도 제주시 도령로 124  34.727708  127.725207

       RESIDENCE_TIME_MIN VISIT_AREA_TYPE_CD REVISIT_YN VISIT_CHC_REASON_CD  \
25348               270.0                 11          N                 5.0
30916                30.0                 22          Y                 5.0
31320                30.0                  1          N                 1.0
34450                60.0                 12          N                 1.0
34827                60.0                 24          N                 5.0
35757                90.0                 24          N                 8.0

      DGSTFN REVISIT_INTENTION RCMDTN_INTENTION
25348    5.0               5.0              5.0
30916    5.0               5.0              5.0
31320    4.0               3.0              4.0
34450    5.0               4.0              5.0
34827    5.0               4.0              4.0
35757    5.0               5.0              5.0

In [25]:
# 좌표 확인

tn_visit_area_info[['X_COORD', 'Y_COORD', 'VISIT_AREA_NM']]

          X_COORD    Y_COORD VISIT_AREA_NM
2414   126.492769  33.507079       제주 국제공항
2711   126.492769  33.507079       제주 국제공항
2976   126.492769  33.507079       제주 국제공항
3050   126.492769  33.507079       제주 국제공항
11087  126.502477  33.511763    제주원 렌터카 본점
...           ...        ...           ...
45999  126.407923  33.452748   항파두리 항몽 유적지
46000  126.375776  33.429839          소길별하
46004  126.905244  33.509868          꼬스뗀뇨
46005  126.888132  33.508700     마이 피기 팬트리
46007  126.825773  33.553735    민경이네어등포해녀촌

[23453 rows x 3 columns]

In [26]:
tn_visit_area_info.isnull().sum()

VISIT_AREA_ID          0
TRAVEL_ID              0
VISIT_AREA_NM          0
VISIT_START_YMD        0
VISIT_END_YMD          0
ROAD_NM_ADDR           0
X_COORD                0
Y_COORD                0
RESIDENCE_TIME_MIN     0
VISIT_AREA_TYPE_CD     0
REVISIT_YN             0
VISIT_CHC_REASON_CD    0
DGSTFN                 0
REVISIT_INTENTION      0
RCMDTN_INTENTION       0
dtype: int64

In [27]:
import shutil

# 파일 저장 경로
local_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_visit_area_info.csv"
tn_visit_area_info.to_csv(local_path, index=False, encoding='utf-8-sig')

# 파일 저장 확인
print(f"로컬 경로에 파일 저장 완료: {local_path}")

로컬 경로에 파일 저장 완료: E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_visit_area_info.csv

In [29]:
file_path = r"E:\AI_HUB\data\Training\labeled_data\TL_csv\cleaned_data\tn_visit_area_info.csv"

tn_visit_area_info_cleaned = pd.read_csv(file_path)

tn_visit_area_info_cleaned

,VISIT_AREA_ID,TRAVEL_ID,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,X_COORD,Y_COORD,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION
0,2307010002,e_e004090,제주 국제공항,2023-07-01,2023-07-01,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,3.0,3.0
1,2307070002,e_e004808,제주 국제공항,2023-07-07,2023-07-07,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,4.0,4.0
2,2307220006,e_e005480,제주 국제공항,2023-07-22,2023-07-22,제주특별자치도 제주시 공항로 2,126.492769,33.507079,30.0,9,Y,6.0,4.0,5.0,4.0
3,2308030006,e_e005858,제주 국제공항,2023-08-03,2023-08-03,제주특별자치도 제주시 공항로 2,126.492769,33.507079,60.0,9,Y,6.0,5.0,5.0,5.0
4,2308280003,g_g005682,제주원 렌터카 본점,2023-08-28,2023-08-28,제주특별자치도 제주시 용해로 58-7,126.502477,33.511763,30.0,9,N,2.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23448,2309230003,h_h006872,항파두리 항몽 유적지,2023-09-23,2023-09-23,제주특별자치도 제주시 애월읍 항파두리로 50,126.407923,33.452748,30.0,2,N,1.0,4.0,4.0,4.0
23449,2309230004,h_h006872,소길별하,2023-09-23,2023-09-23,제주특별자치도 제주시 애월읍 소길남길 34-37,126.375776,33.429839,60.0,12,N,1.0,4.0,4.0,4.0
23450,2309220002,h_h006874,꼬스뗀뇨,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 2080,126.905244,33.509868,60.0,3,N,1.0,3.0,2.0,2.0
23451,2309220003,h_h006874,마이 피기 팬트리,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 하도13길 6,126.888132,33.508700,30.0,10,N,2.0,4.0,4.0,4.0
23452,2309220005,h_h006874,민경이네어등포해녀촌,2023-09-22,2023-09-22,제주특별자치도 제주시 구좌읍 해맞이해안로 830,126.825773,33.553735,30.0,11,N,2.0,4.0,4.0,4.0

In [11]:
revisit_yn = tn_visit_area_info_cleaned['REVISIT_YN'].value_counts()
revisit_yn

REVISIT_YN
N    17224
Y     6229
Name: count, dtype: int64

In [30]:
tn_visit_area_info_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23453 entries, 0 to 23452
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   VISIT_AREA_ID        23453 non-null  int64
 1   TRAVEL_ID            23453 non-null  object
 2   VISIT_AREA_NM        23453 non-null  object
 3   VISIT_START_YMD      23453 non-null  object
 4   VISIT_END_YMD        23453 non-null  object
 5   ROAD_NM_ADDR         23453 non-null  object
 6   X_COORD              23453 non-null  float64
 7   Y_COORD              23453 non-null  float64
 8   RESIDENCE_TIME_MIN   23453 non-null  float64
 9   VISIT_AREA_TYPE_CD   23453 non-null  int64
 10  REVISIT_YN           23453 non-null  object
 11  VISIT_CHC_REASON_CD  23453 non-null  float64
 12  DGSTFN               23453 non-null  float64
 13  REVISIT_INTENTION    23453 non-null  float64
 14  RCMDTN_INTENTION     23453 non-null  float64
dtypes: float64(7), int64(2), object(6)
memory usage: 2.7+ MB

In [31]:
# REVISIT_YN과 REVISIT_INTENTION 간의 상관관계를 확인하는 코드

tn_visit_area_info_cleaned['REVISIT_YN'] = tn_visit_area_info_cleaned['REVISIT_YN'].map({"Y": 1, "N": 0})

correlation_matrix = tn_visit_area_info_cleaned[["DGSTFN", "REVISIT_YN", "RCMDTN_INTENTION", 'REVISIT_INTENTION']].corr()

print(correlation_matrix)

                     DGSTFN  REVISIT_YN  RCMDTN_INTENTION  REVISIT_INTENTION
DGSTFN             1.000000    0.066927          0.814630           0.795934
REVISIT_YN         0.066927    1.000000          0.107501           0.137214
RCMDTN_INTENTION   0.814630    0.107501          1.000000           0.896266
REVISIT_INTENTION  0.795934    0.137214          0.896266           1.000000

재방문 여부와 재방문 의향은 상관관계가 없는 수준이다.  
만족도 지수에 포함하지 않을 것.

In [35]:
tn_visit_area_info_cleaned['VISIT_AREA_TYPE_CD']

0         9
1         9
2         9
3         9
4         9
         ..
23448     2
23449    12
23450     3
23451    10
23452    11
Name: VISIT_AREA_TYPE_CD, Length: 23453, dtype: int64

In [34]:
# WR 구하기

# v: 해당 관광지의 평가 개수 구하기
v = tn_visit_area_info_cleaned.groupby("VISIT_AREA_NM")["VISIT_AREA_ID"].count()

v

VISIT_AREA_NM
1158족욕 카페            1
1158흑돼지              1
11고지 휴게소             4
11고지 휴게소 주차장         2
168테우                2
                    ..
힐로스                  1
힐링 카약 파크 비체올린 캠핑장    1
힐링스파 펜션              4
힐스테이트 제주             3
힘찬 약국                1
Name: VISIT_AREA_ID, Length: 6121, dtype: int64

In [43]:
# m: 최소 평가 개수(상위 90% 관광지의 평가 개수)
m = v.quantile(0.90)

In [44]:
# W: 관광지의 평균 만족도

# 가중치 설정 
w1, w2, w3 = 0.4, 0.3, 0.3

# W(가중 평점) 계산
tn_visit_area_info_cleaned["W"] = (tn_visit_area_info_cleaned["DGSTFN"] * w1) + (tn_visit_area_info_cleaned["REVISIT_INTENTION"] * w2) + (tn_visit_area_info_cleaned["RCMDTN_INTENTION"] * w3)

In [46]:
# 4. 관광지별 평균 만족도 R 계산
R = tn_visit_area_info_cleaned.groupby("VISIT_AREA_NM")["W"].mean()

In [47]:
# 5. 전체 평균 만족도 C 계산
C = tn_visit_area_info_cleaned["W"].mean()

In [48]:
# 6. WR(가중 평점) 계산
WR = ((v / (v + m)) * R) + ((m / (v + m)) * C)

In [1]:
# 7. 결과 데이터프레임 생성 및 정렬
result_df = pd.DataFrame({"평가 개수": v, "W": R, "WR": WR}).reset_index()
result_df = result_df.sort_values(by="WR", ascending=False)

# 8. 결과 출력
print(result_df.head(10))  # 상위 10개 관광지 출력

NameError: name 'pd' is not defined

In [40]:
tn_visit_area_info_cleaned['VISIT_START_YMD'] = pd.to_datetime(tn_visit_area_info_cleaned['VISIT_START_YMD'])

In [41]:
tn_visit_area_info_cleaned["Month"] = tn_visit_area_info_cleaned["VISIT_START_YMD"].dt.month
season_mapping = {12: "Winter", 1: "Winter", 2: "Winter",
                  3: "Spring", 4: "Spring", 5: "Spring",
                  6: "Summer", 7: "Summer", 8: "Summer",
                  9: "Fall", 10: "Fall", 11: "Fall"}
tn_visit_area_info_cleaned["Season"] = tn_visit_area_info_cleaned["Month"].map(season_mapping)

In [42]:
tn_visit_area_info_cleaned["Season"]

0        Summer
1        Summer
2        Summer
3        Summer
4        Summer
          ...
23448      Fall
23449      Fall
23450      Fall
23451      Fall
23452      Fall
Name: Season, Length: 23453, dtype: object